/*
 Theme Name: Zinvos
 Theme URI: www.zinvos.com
 Author: SPRDH
 Author URI: sprdh.com
 Version: 4.0
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
header, section, article, aside, nav, footer, address {
	display: block;
}
body {
	background: #ECECEC;
	font-family: 'robotoregular', Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #555;
}
input, textarea, select {
	font-family: 'robotoregular', Arial, Helvetica, sans-serif;
}
a {
	color: #555;
}
a:hover, .submit:hover {
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb {
	display: block;
}
.thumb img {
	display: block;
}
p {
	line-height: 1.6em;
}
.hidden {
	display: none;
}
.left {
	float: left;
}
.right {
	float: right;
}
br.clear {
	clear: both;
	line-height: 0;
}
#box{
	width:270px;
	padding:30px;
	background: #FFFFFF;
	-webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
	margin:100px auto 0;
}
#box h1{
	margin-bottom: 30px;
}
#box h1 a{
	color:#666;
	display: block;
}
#box form p label{
	color:#666;
}
#box p{
	margin-bottom: 20px;
}
input[type="text"], input[type="password"], form input[type="url"], input[type="email"], input[type="number"], textarea {
	border: none;
	border-bottom: 1px solid #dbdbdb;
	height: 22px;
	background: none;
	color: #393939;
	width: 95%;
	padding: 5px 5% 5px 0;
	font-size: 18px;
}
textarea{
	resize:none;
	height:50px;
}
input[type="text"].error, input[type="password"].error, form input[type="url"].error, input[type="email"].error, input[type="number"].error, textarea.error {
	border-bottom: 1px solid #d93600;
	color:#d93600;
}
span.error,label.error{
	color: #ff878b;
    font-size: 13px;
}
::-webkit-input-placeholder {
	color: #aaa;
	font-style: italic;
	font-size: 14px;
}
:-moz-placeholder {
	color: #aaa;
	opacity: 1;
	font-style: italic;
	font-size: 14px;
}
::-moz-placeholder {
	color: #aaa;
	opacity: 1;
	font-style: italic;
	font-size: 14px;
}
:-ms-input-placeholder {
	color: #aaa;
	font-style: italic;
	font-size: 14px;
}
.submitContainer{
	margin-top: 35px;
}
.submitContainer a.link{
	margin-top: 9px;
	color: #007CF9;
	float: left;
}
.submitContainer .button{
	float: left;
	margin-right: 25px;
}
.button {
    border: medium none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
    color: #fff;
    font-family: "robotomedium";
    font-size: 17px;
    padding: 10px 40px;
    cursor:pointer;
    background: #007CF9;
}
p.message.error{
	color: #ff878b;
}
p.message.success{
	color: #4CAF50;
}
p.message a{
	color: #007CF9;
}
