/*salafinikah.com sprdh.com */
html,body{
	padding:0;
	margin:0;
}
a{
	text-decoration: none;
}
table{
	width:100%;
}
#main{
	width:600px;
	margin:0 auto;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	border: 1px solid #eee;
}
#top{
	background-size:cover;
}
br.clear{
	clear:both;
}
#header .center{
	padding: 0;
	width: 100%;
}
#header img {
	width: 100%;
}
#header h1{
	display: inline-block;
	padding:0;
	margin:0;
	text-align: left;
}
#header h1 img{
	width:100%;
	height:auto;
}
#header div.right{
	display: inline-block;	
	margin-top: 30px;
}
#header .social a{
	float: right;
	margin-left: 8px;
}
#header a.website{
	float: right;
	color:#fff;
	margin-top: 8px;
}
.center{
	width:90%;
	padding:0 5%;
}
#spotlight{
	color: #fff;
	text-align: center;
}
#spotlight h2{
	font-size: 22px;
	font-weight: normal;
}
#spotlight h2 b{
	font-size: 30px;
	display: block;
	margin-bottom: 15px;
}
p{
	line-height: 1.6em;	
}
#content{
	padding:20px 0;
}
.contentInner{
	width:90%;
	padding:0 5%;
}
#content .bottom p{	
	margin:0;
}
#footer{
	color: #aaa;
	text-align: center;
}
#footer img {
	width: 100%;
}
#footer a{
	color:#4683ea;
}
#footer p{
	margin:0;
	font-size: 12px;
}
.td35{
	width:35%;
}
.td65{
	text-align: right;
	width:65%;
}