/*salafinikah.com sprdh.com */
html,body{
	padding:0;
	margin:0;
}
a{
	text-decoration: none;
}
table{
	width:100%;
}
#main{
	width:800px;
	margin:0 auto;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	border: 1px solid #eee;	
}
#top{
	background-size:cover;
}
#header {
	padding:0 5%;
}
#header img{
	width: 150px;
}
br.clear{
	clear:both;
}
.center{
	width:90%;
	padding:0 5%;
}
#spotlight{
	color: #000;
	text-align: center;
}
#spotlight h2{
	font-size: 22px;
	font-weight: normal;
}
#spotlight h2 b{
	font-size: 30px;
	display: block;
	margin-bottom: 15px;
}
p{
	line-height: 1.6em;	
	text-align:justify;
	font-size: 14px;
	margin: 0;
}
.contentInner{
	color: #000;
	width:90%;
	padding:0 5%;
}
#content .bottom p{	
	margin:0;
}
p.address{
	position: relative;
	z-index:1;
}
div.p_content p{
	margin-bottom: 0 !important;
}
#footer{
	color: #aaa;
	text-align: center;
}
#footer img {
	width: 100%;
}
#footer a{
	color:#4683ea;
}
#footer p{
	margin:0;
	font-size: 12px;
}
.td35{
	width:35%;
}
.td65{
	text-align: right;
	width:65%;
}
div.bottom_content{
	
}
div.bottom_content img{
	display: block;
	width: 100%;
	margin-top: -42px;
}
header{
	
}
table.border {
	border: none;
	margin-bottom: 20px;
}
table.border td, table.border th {
	border: 1px solid #f0b09a;
	padding: 5px 5px 1px;
	line-height: 1.4em;
	font-weight: normal;
	font-size: 12px;
	text-align: left;
}
table.border th {
	background: #f9d8cd;
	font-weight: bold;
}