html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
header, div, article, aside, nav, footer, address {
	display: block;
}
body {
	font-family: 'robotoregular', Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #000;
}
.wrapper {
	width: 850px;
	margin: 0 auto 0;
	background: #fff;
}
input, textarea, select {
	font-family: 'robotoregular', Arial, Helvetica, sans-serif;
}

@font-face {
	font-family: 'robotoregular';
	src: url('../fonts/roboto/Roboto-Regular-webfont.eot');
	src: url('../fonts/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Regular-webfont.woff2') format('woff2'), url('../fonts/roboto/Roboto-Regular-webfont.woff') format('woff'), url('../fonts/roboto/Roboto-Regular-webfont.ttf') format('truetype'), url('../fonts/roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotomedium';
	src: url('../fonts/roboto/Roboto-Medium-webfont.eot');
	src: url('../fonts/roboto/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Medium-webfont.woff2') format('woff2'), url('../fonts/roboto/Roboto-Medium-webfont.woff') format('woff'), url('../fonts/roboto/Roboto-Medium-webfont.ttf') format('truetype'), url('../fonts/roboto/Roboto-Medium-webfont.svg#robotomedium') format('svg');
	font-weight: normal;
	font-style: normal;
}

a {
	color: #000;
}
p {
	font-size: 13px;
	line-height: 1.5em;
}
.clear {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #000;
}
table th {
	font-weight: bold;
}
table td, table th {
	padding: 3pt;
	vertical-align: middle;
}
table.attendance td, table.attendance th {
	padding: 2pt 3pt;
}
table.tdb {
	border-right: none;
	border-bottom: none;
}
table.tdb td, table.tdb th {
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}
.bdn {
	border: none !important;
}
.tar {
	text-align: right;
}
.tac {
	text-align: center;
}
p.small {
	font-size: 13px;
}
b {
	font-family: 'robotomedium';
	font-weight: bold;
}
h4 {
	margin-top: 20px;
	font-family: 'robotoregular';
}
.bold {
	font-weight: bold;
}
.box {
	margin-top: 20px;
}
#header_content td.one h1 {
	font-size: 15px;
	font-weight: bold;
	color: #000;
}
#header_content td.one h6 {
	font-size: 13px;
}
#content {
	margin: 0 auto;
}
#content p.date {
	font-size: 14px;
	margin-bottom: 30px;
}
#content p.address {
	font-size: 14px;
}
#content p.subject {
	font-size: 14px;
	margin: 10px 0 15px;
	line-height: 1.6em;
}
#content p.wish {
	margin-bottom: 10px;
}
#content div.items {
	margin: 10px 0;
	page-break-inside: avoid;
}
#content div.items ul {
	margin-left: 20px;
	line-height: 1.3em;
	page-break-inside: avoid;
}
#content p.total {
	margin: 20px 0;
}
#content div.condition h4 {
	font-size: 14px;
}
#content div.condition {
	margin-bottom: 15px;
}
#content div.condition ul {
	margin-left: 20px;
	font-size: 13px;
}
#content div.condition ul li {
	font-size: 13px;
}
#content p.ls {
	margin: 15px 0;
}
#content p.end_add b {
	display: block;
}
#content p.tac {
	margin-top: 15px;
}
footer table {
	border: none;
}
footer table td {
	padding: none;
}
table.terms {
	padding: none;
	border: none;
}
table.terms td {
	padding: 2px;
}
h2.top_head {
	text-align: center;
	font-size: 	16px;
}
.bdnone {
	border: none;
}
.pdn {
	padding: 0 0 0 5px;
}
.attendance {
	font-size: 10px;
}
section#body {
	margin-left: 25px;
	font-size: 16px;
}
.red_bg {
	background-color: red;
}
.green_bg {
	background-color: green;
}
.blue_bg {
	background-color: #1E90FF;
}
.yellow_bg {
	background-color: #FFD700;
}
.peru_bg {
	background-color: #CD853F;
}
.middl_align th {
	vertical-align: middle;
	padding: 2px 10px 0 10px;
}
.middl_align td {
	vertical-align: middle;
	padding: 5px 10px 0 10px;
}
.pdl0 td {
	padding-left: 0;
}
/*project_invoice style start here*/
.project_invoice p {
	font-size: 13px;
	line-height: 1.2em;
}
.clnt_details td {
	font-size: 13px;
}
.amount_details th {
	padding: 5px 5px 1px;
	vertical-align: middle;
}
.amount_details b {
	margin-bottom: 0;
	padding-bottom: 0;
	line-height: 10px;
	font-size: 12px;
}
.amount_details td {
	padding: 3px;
	vertical-align: middle;
}
.amount_details h6 {
	text-transform: uppercase !important;
}
.account_details {
	border: none;
}
.account_details td {
	padding: 0;
	font-size: 12px;
	line-height: 1.3em;
}
.account_details td b {
	font-size: 12px;
}
.account_details td small {
	display: inline-block;
	margin-right: 10px;
}
.small_table th {
	font-size: 12px;
	padding: 2px 0;
	vertical-align : top;
}
.small_table th  b {
	margin-bottom: 0;
}
.small_table  td {
	padding: 5px 10px 0;
	font-size: 13px;
}
table.pdn td {
	padding: 0;
}
#checklist table td.tac {
	text-align: center;
}
#checklist table  {
	border: none;
}
#checklist table td {
	border: 1px solid #ddd;
	padding: 5px 5px 0;
	line-height: 1.6em;
	font-size: 13px;
}
table.border {
	border: none;
	margin-bottom: 20px;
}
table.border td, table.border th {
	border: 1px solid #f0b09a;
	padding: 5px 5px 1px;
	line-height: 1.4em;
	font-weight: normal;
	font-size: 12px;
	text-align: left;
}
table.border th {
	background: #f9d8cd;
	font-weight: bold;
}