/*salafinikah.com sprdh.com */
html,body{
	padding:0;
	margin:0;
}
a{
	text-decoration: none;
}
.clear {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
table{
	width:100%;
}
#main{
	width:600px;
	margin:0 auto;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
#top{
	background-size:cover;
}
br.clear{
	clear:both;
}
#header h1{
	display: inline-block;
	padding:0;
	margin:0;
	text-align: left;
}
#header h1 img{
	width:100%;
	height:auto;
}
#header div.right{
	display: inline-block;	
	margin-top: 30px;
}
#header .social a{
	float: right;
	margin-left: 8px;
}
a.website{
	float: right;
	color:#fff;
	margin-top: 8px;
}
.center{
	width:90%;
	padding:0 5%;
}
.one {
	padding: 16px 10px ;
}
#spotlight{
	color: #fff;
	padding:30px;
}
.bdr {
	border-bottom: 1px solid #f5f5f5;
}
#spotlight h2{
	font-size: 22px;
	font-weight: normal;
}
#spotlight h2 b{
	font-size: 30px;
	display: block;
	margin-bottom: 15px;
}
p{
	line-height: 1.6em;	
}
#content{
	padding:30px 0;
}
.contentInner{
	padding:0 25px;
}
#content .bottom p{	
	margin:0;
}
#footer{
	background: #f6f6f6;
	color: #aaa;
	text-align: center;
}
#footer tr td {
	padding:30px 0;
}
#footer a{
	color:#4683ea;
}
#footer p{
	margin:0;
	padding:0;
	font-size: 12px;
}
.td35{
	width:35%;
}
.td65{
	text-align: right;
	width:65%;
}
