html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
header, section, article, aside, nav, footer, address {
	display: block;
}
body {
	background: #f5f5f5;
	font-family: 'robotoregular', Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #555;
}
input, textarea, select {
	font-family: 'robotoregular', Arial, Helvetica, sans-serif;
}
a {
	color: #555;
}
a:hover{
	color: #2095f2 !important;
}
a:hover .icon{
	color: #2095f2 !important;
}
a:hover, .submit:hover {
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb {
	display: block;
}
.thumb img {
	display: block;
}
p {
	line-height: 1.6em;
}
.hidden {
	display: none;
}
.left {
	float: left;
}
.right {
	float: right;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 94%;
	margin: 0 auto;
}
#sidebar{
	position: fixed;
	left:0;
	top:70px;
	width:200px;
	background: #fff;
	height:100%;
	bottom:0;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 2px 4px 8px rgba(0, 0, 0, 0.28);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 2px 4px 8px rgba(0, 0, 0, 0.28);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 2px 4px 8px rgba(0, 0, 0, 0.28);
	transition: all 0.35s ease 0s;
	-moz-transition: all 0.35s ease 0s;
	-webkit-transition: all 0.35s ease 0s;
	z-index: 99;
}
#sidebar:hover{
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.9), 2px 4px 8px rgba(0, 0, 0, 0.035);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.24), 4px 6px 10px rgba(0, 0, 0, 0.28);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 2px 4px 8px rgba(0, 0, 0, 0.28);
	transition: all 0.35s ease 0s;
	-moz-transition: all 0.35s ease 0s;
	-webkit-transition: all 0.35s ease 0s;
	z-index: 99;
}
#menuContainer {
	overflow: hidden;
	width: 100%;
	height: 300px;
	position: relative;	
}
.mainMenu ul li {
	position: relative;
}
.mainMenu ul li a {
	display: block;
	height: 45px;
	line-height: 45px;
	color: #515d6e;
	font-weight: 500;
    letter-spacing: 0.025em;
    font-size: 14px;
}
.mainMenu ul li a:hover{
	background: #f5f5f5;
}
.mainMenu ul li.active{
}
.mainMenu ul li a small.icon {
	font-size: 18px;
	display: inline-block;
	width:50px;
	text-align: center;
}
.mainMenu ul li a b{
	display: inline-block;
}
#header {
	height: 70px;
	position: fixed;
	top: 0;
	width: 100%;
	right: 0;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
	z-index: 100;
	background: #3F51B5;
}
#header.bg1 {
	background: #3F51B5;
}
#header.bg2 {
	background: #03a9f4;
}
#header.bg3 {
	background: #f44336;
}
#header.bg4 {
	background: #e91e63;
}
#header.bg5 {
	background: #d50000;
}
#header.bg6 {
	background: #1b5e20;
}
#header.bg7 {
	background: #009688;
}
#header.bg8 {
	background: #4caf50;
}
#header.bg9 {
	background: #cddc39;
}
#header.bg10 {
	background: #64dd17;
}
#header.bg11 {
	background: #ff6f00;
}
#header.bg12 {
	background: #ff5722;
}
#header.bg13 {
	background: #e65100;
}
#header.bg14 {
	background: #c51162;
}
#header.bg15 {
	background: #ec407a;
}
#header h1{
	float: left;
	padding-left: 20px;
}
#header h1 a{
	display: block;
	line-height: 70px;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
}
#header h1 a:hover{
	color:#f5f5f5 !important;
}
#header section.right {
	margin-right: 10px;
	width: 300px;
	margin-top: 18px;
}
#header section.right div.profile .small img {
	width: 35px;
	height: 35px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
	cursor: pointer;
	margin:0 auto;
}
#header section.right div.box {
	float: left;
	width: 33.33%;
	text-align: center;
}
#header section.right div.box .small {
	text-align: center;
	position: relative;
}
#header section.right div.box .small .count {
	background: none repeat scroll 0 0 #d2483d;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 11px;
    height: 12px;
    left: 13px;
    line-height: 12px;
    min-width: 12px;
    padding: 6px;
    position: absolute;
    text-align: center;
    text-indent: 0;
    top: -18px;
    cursor: pointer;
    display: none;
}
#header section.right div.box .small .icon {
	color: #fff;
	font-size: 25px;
	cursor: pointer;
	line-height: 38px;
}
#header section.right div.box .small .icon:hover {
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
#header section.right div.box .small .icon.notifications {
	font-size: 21px;	
}
#header section.right div.profile .info{
	display: none;
}
#profileInfoDetails {
	position: absolute;
	padding: 20px;
	background: #fff;
	white-space: nowrap;
	text-align: left;
	right: 30px;
    top: 110px;
    z-index: 101;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.26);
	-webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.26);
	-moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.26);
}
#profileInfoDetails .arrow {
	position: absolute;
	right: 10px;
	top: -8px;
	width: 14px;
	height: 8px;
	background: url(../images/arrow_top.png);
}
#profileInfoDetails span.image {
	display: inline-block;
	margin-right: 15px;
	position: relative;
	vertical-align: top;
}
#profileInfoDetails span.image .icon {
	position: absolute;
	right: 2px;
	bottom: 2px;
	width: 22px;
	height: 22px;
	text-align: center;
	line-height: 22px;
	font-size: 10px;
	color: #fff;
	border: 1px solid #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
#profileInfoDetails span.image img {
	width: 100px;
	height: 100px;
	display: block;
}
#profileInfoDetails .content {
	display: inline-block;
	color: #333;
	vertical-align: top;
}
#profileInfoDetails .content a {
	color: #333;
}
#profileInfoDetails .content h2 {
	font-size: 14px;
	text-transform: capitalize;
	margin-bottom: 6px;
}
#profileInfoDetails .content h3 {
	font-size: 12px;
	margin-bottom: 28px;
}
#profileInfoDetails .content p {
	margin-bottom: 10px;
}
#profileInfoDetails .content p a {
	color: #3366cc;
	font-size: 12px;
	margin-right: 15px;
}
#profileInfoDetails .content .button {
    color: #fff;
    font-size: 13px;
    padding: 8px 15px;
    text-transform: capitalize;
}
#profileInfoDetails .content .button:hover{
	color:#fff !important;
}
#profileInfoDetails p.links {
    border-top: 1px solid #e7e7e7;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 20px;
    padding: 15px 20px 0;
}
.icon{
	color:#515d6e;
}
#shortcuts {
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    top: 40px;
    width: 56px;
    z-index: 200;
}
#main{
	float: left;
	padding-top: 70px;
	margin-left: 200px;
}
#shortcuts span.icon.add_item{
	background-image: url(../images/plus-small.png);
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	width:56px;
	height:56px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color:#fff;
	line-height: 56px;
	text-align: center;
	margin-bottom: 10px;
	cursor: pointer;
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
#shortcuts div.items{
	display: none;
}
#shortcuts:hover div.items{
	display: block;
}
#shortcuts div.items a{
	display: block;
	width:40px;
	height:40px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color:#fff;
	line-height: 40px;
	margin:0 auto 10px auto;
	text-align: center;
	position: relative;
	box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}
#shortcuts div.items a b{
	color: #fff;
    font-size: 13px;
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
    position: absolute;
    left: 45px;
    top: 2px;
    display: none;
}
#shortcuts div.items a:hover b{
	display: block;
}
#shortcuts div.items a:hover{
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	color: #fff !important;
}
#content {
	position: relative;
}
#content section.item{
	border-bottom: 1px solid #e7e7e7;
}
#content section.head{
	background: none repeat scroll 0 0 #eee;
    color: #888;
    font-size: 16px;
    height: 60px;
    line-height: 60px;
    padding: 0 15px 0 40px;
}
#content section.head a{
	color:#888;
}
#content section.head a.button {
	color: #fff;
}
#content section.innerBox{
	padding:40px;
}
#rightMenu {
	position: fixed;
	top: 70px;
	width: 240px;
	right: 0;
	background: #fff;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 2px 4px 8px rgba(0, 0, 0, 0.28);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 2px 4px 8px rgba(0, 0, 0, 0.28);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 2px 4px 8px rgba(0, 0, 0, 0.28);
}
#rightMenuContainer {
	overflow: hidden;
	width: 100%;
	height: 300px;
	position: relative;
}
#rightMenu h4 {
	text-indent: 15px;
	margin-bottom: 5px;
	color: #8394a9;
	text-transform: uppercase;
	font-size: 13px;
}
#rightMenu div.menuBox {
	margin-bottom: 12px;
	border-bottom: 1px solid #eaeaeb;
}
#rightMenu div.menuBox ul {
	border-top: 1px solid #f5f5f5;
}
#rightMenu ul li div.info{
	border-top: 1px solid #eaeaeb;
	padding:20px;
}
#rightMenu ul li div.info p b{
	width:30%;
	font-family: 'robotomedium';
	display: inline-block;
}
#rightMenu ul li div.info h6{
	margin-bottom: 10px;
	font-size: 14px;
}
#rightMenu ul li div.info form p{
	margin-bottom: 10px;
}
#rightMenu ul li div.info .button{
	display: block;
	width:100%;
}
#tabs ul.tabsNav{
	float: left;
	width:100%;
	margin-bottom: 20px;
}
#tabs ul.tabsNav li{
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	background: #f5f5f5;
}
#tabs ul.tabsNav.one li{
	width:100%;
}
#tabs ul.tabsNav.two li{
	width:50%;
}
#tabs ul.tabsNav.three li{
	width:33.33%;
}
#tabs ul.tabsNav.four li{
	width:25%;
}
#tabs ul.tabsNav li.ui-tabs-active{
	background: #fff;
}
#tabs ul.tabsNav li a{
	height:60px;
	line-height: 60px;
	display: block;
	font-size: 19px;
}
.filter_form{
	padding:15px;
	padding-top: 0;
}
.filter_form .button{
	width:100%;
	padding:10px 0;
	text-transform: uppercase;
}
.widget {
	background: #FFFFFF;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
	padding: 2.5%;
	margin-bottom: 3.3%;
}
.widget:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	transition: all 0.35s ease 0s;
}

.widget.clear{
	clear:left;
}
.widget.one_by_three {
	float: left;
	width: 26.13%;
}
.widget.one_by_three.right{
	float: right;
}
.widget.one_by_three.second {
	margin-left: 3.3%;
	margin-right: 3.3%;
}
.widget.one_by_two {
	width: 43.3%;
}
.widget.one_by_two.left{
	clear:left;
}
.widget.three_by_four {
	width: 60.8%;
}
.widget .head h4 {
	margin-bottom: 25px;
}
.widget .head h4 span {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	width: 40px;
	height: 40px;
	background: #EEEEEE;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	margin-right: 12px;
}
.widget .head h4 span small {
	font-size: 14px;
}
.widget .head h4 b {
	font-family: 'robotomedium';
	color: #444;
	font-size: 18px;
	vertical-align: middle;
}
.widget .head h4 a.button{
	margin-left: 20px;
}
.widget .head h4 a.button small{
	margin-right: 10px;
}
.mbn {
	margin-bottom: 0 !important;
}
.mtn {
	margin-top: 0 !important;
}
.pbn{
	padding-bottom: 0 !important;
}
.ptn{
	padding-top: 0 !important;
}
.bdbn{
	border-bottom: none !important;
}
.bdtn{
	border-top: none !important;
}
ul.checkList li:nth-child(3n){
	margin-right: 0;
}
ul.checkList li:nth-child(3n+1){
	clear: both;
}
ul.checkList li ul li{
	margin:0;
	width:100%;
	float: none;
}
ul.checkList li ul.one-by-three-container {
	float: left;
}
ul.checkList li ul.one-by-three-container li.one-by-three {
	float: left;
	width:33.33%;
}
ul.checkList li label span{
	font-size: 15px;
	margin-left: 15px;
}
ul.checkList li ul{
	padding-left: 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width:100%;
}
div.field {
	margin-bottom: 30px;
	position: relative;
}
.formElements div.field:last-child{
	margin-bottom: 0;
}
div.field.half {
	width: 45%;
}
div.field img{
	width:100%;
	height:auto;
	display: block;
}
.change_profile_image_icon{
	position: absolute;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width:30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	right:5px;
	bottom:5px;
	cursor: pointer;
}
div.field label {
	color: #8394a9;
	display: block;
}
div.field label.cb-checkbox, div.field label.cb-radio {
    color: #666;
    display: inline-block;
    font-size: 17px;
    margin-right: 10px;
    vertical-align: middle;
}
div.field strong{
	font-weight: bold;
}
div.field u{
	text-decoration: underline;
}
div.field table{
	border-right: 1px solid #ddd;
}
div.field span.content{
	display: inline-block;
	margin-top: 10px;
	margin-right: 10px;
}
div.field span.content span.label{
	margin-right: 5px;
}
div.field label small.star {
	float: none;
	color: #FF878B;
}
div.field label.error {
	bottom: -20px;
	color: #d93600;
	float: none;
	font-size: 13px;
	position: absolute;
	left: 0;
	text-transform: lowercase;
	width: 100%;
	font-family: 'robotolight';
}
.autocomplete-light-widget.single,input[type="text"], input[type="password"], form input[type="url"], input[type="email"], input[type="number"], textarea {
	border: none;
	border-bottom: 1px solid #dbdbdb;
	height: 22px;
	background: none;
	color: #555;
	width: 95%;
	padding: 5px 5% 5px 0;
	font-size: 16px;
	overflow: hidden;
	white-space: nowrap;
}
.autocomplete-light-widget.single{
	padding-right: 0;
	width:100%;
}
.autocomplete-light-widget.single input{
	padding:0;
	padding-bottom: 5px;
	width:100%;
}
.view div.field{
	margin-bottom: 20px;
}
div.field b.info{
	display: block;
	border-bottom: 1px solid #eee;
	padding:5px 0;
}
div.field b.info.pending,td.pending{
	color: #ffbd2c;
}
div.field b.info.approved,td.approved{
	color: green;
}
div.field b.info.started,td.started{
	color: #6639B6;
}
div.field b.info.completed,td.completed{
	color: green;
}
div.field b.info.rejected,td.rejected{
	color: red;
}
div.field b.info.cancelled,td.cancelled{
	color: red;
}
.view table th{
	border-bottom: 1px solid #e7e7e7;
}
.view table tr td,.view table tr th{	
	padding-left:0;
}
textarea{
	resize:none;
	height:50px;
}
input[type="text"].error, input[type="password"].error, form input[type="url"].error, input[type="email"].error, input[type="number"].error, textarea.error {
	border-bottom: 1px solid #d93600;
	color:#d93600;
}
::-webkit-input-placeholder {
	color: #aaa;
	font-style: italic;
	font-size: 14px;
}
:-moz-placeholder {
	color: #aaa;
	opacity: 1;
	font-style: italic;
	font-size: 14px;
}
::-moz-placeholder {
	color: #aaa;
	opacity: 1;
	font-style: italic;
	font-size: 14px;
}
:-ms-input-placeholder {
	color: #aaa;
	font-style: italic;
	font-size: 14px;
}
div.field label span.help {
	background: none repeat scroll 0 0 #ddd;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	cursor: pointer;
	height: 25px;
	line-height: 25px;
	text-align: center;
	width: 25px;
	position: absolute;
	right:0;
	top:0;
}
div.field label span.help span {
	font-size: 13px;
	color: #aaa;
}
div.field span.help_text {
	background: #9999FF;
	padding: 15px;
	color: #fff;
	font-size: 13px;
	position: absolute;
	width: 200px;
	display: none;
	z-index: 2;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.26);
	-webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.26);
	-moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.26);
}
div.field span.help_text_show{
	display: block;
	margin-top: 10px;
	color: #999;
	font-style: italic;
	font-size: 13px;
}
div.field span.help_text small{
	top:-8px;
	width:14px;
	height:8px;
	position: absolute;
	left:10;
}
.icon-trash:hover{
	color:#ff878b;
}
table{
	width: 100%;
	border-collapse:collapse;
}
table tr{
	border-bottom: 1px solid rgba(255,255,255,0.13);
}
table tr:last-child{
	border-bottom: none;
}
table tr td,table tr th{
	padding:10px;
	text-align: left;
	vertical-align: middle;
}
table tr td:last-child,table tr th:last-child{
	border-right: none;
}
table tr th {
    color: #8394a9;
}
.add_item_container.two table tr td{
	width: 40%;
}
.add_item_container.five table tr td{
	width: 19%;
}
.add_item_container.six table tr td{
	width: 16%;
}
.add_item_container.seven table tr td{
	width: 14%;
}
.add_item_container.two table tr td:last-child{
	width:10%;	
}
.add_item_container.five table tr td:last-child{
	width:5%;	
}
.add_item_container.six table tr td:last-child{
	width:5%;	
}
.add_item_container.seven table tr td:last-child{
	width:5%;	
}
.add_item_container table tr td:last-child{
	text-align: right;
}
table tr td span.left,table tr td div.left{
	width:100%;
}
.add_item_container{
	position: relative;
	margin-bottom: 20px;
}
.add_item_container span.icon{
	cursor:pointer;
}
.add_item_container .add_item_button{
	position: absolute;
	left:0;
	right:0;
	margin:0 auto;
	width:20px;
}
.add_item_container table [class^=dynamic-form] td:last-child{
	text-align: center;
}
.add_item_container span label.error{
	position: relative !important;
    color: #ff878b;
    font-size: 13px;
    text-align: right;
    text-transform: lowercase;
    width: 100%;
}
.add_item_container .sod_select{
	float: left;
}
.add_item_container .icon_add_item {
    background: url("../images/plus-small.png") no-repeat scroll center center #2095f2;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    display: block;
    height: 35px;
    width: 35px;
    position: absolute;
	left:0;
	right:0;
	margin:auto;
	bottom:-18px;
}
.hide_add_button .icon_add_item{
	display: none;
}
.add_item_container.two .icon_add_item{
	left:40%;
	right:auto;
}
.button {
	background: #2095f2;
    border: 1px solid #1b93f2;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12) !important;
    color: #fff;
    font-family: "robotomedium";
    font-size: 14px;
    padding: 10px 20px;
    cursor:pointer;
    transition: all 0.1s ease 0s;
    -moz-transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s;
    text-transform: uppercase;
}
a.mr {
    margin-right: 20px;
}
a.ml {
    margin-left: 20px;
    padding:5px 15px;
}
.button:hover{
	color:#fff !important;
}
/*list page style start here*/
#content.list table.thumb_enabled tr th:first-child{
	border-bottom: none;
}
#content.list table.thumb_enabled tr td:first-child,#content.list table.thumb_enabled tr th:first-child{	
	width:40px;
	padding-right: 40px;
}
#content.list table tr th{
	border-bottom: 1px solid #e7e7e7;
}
#content.list table.thumb_enabled tr th:nth-child(2),#content.list table.thumb_enabled tr td:nth-child(2){
	padding-left: 0;	
}
#content.list table tr td span.thumb{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	width:40px;
	height:40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
}
#content.list table tr td span.thumb img{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	width:40px;
	height:40px;
}
#content.list table tr td span.thumb small{
	font-size: 16px;
	text-transform: uppercase;
}
#content.list table tr th:last-child,#content.list table tr td:last-child{
	width:10px;
	text-align: right;
	padding:0;
}
#content.list table tr td span.action{
	cursor:pointer;
}
#content.list table tr td div.actions{
	position: absolute;
	width:90px;
	padding:15px;
	background: #fff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
}
#content.list table tr td div.actions .arrow {
	position: absolute;
	right: 5px;
	top: -8px;
	width: 14px;
	height: 8px;
	background: url(../images/arrow_top.png);
}
#content.list table tr td div.actions ul li{
	text-align: left;
	border-bottom: 1px solid #eeeeee;
	padding:11px 0;
	cursor: pointer;
}
#content.list table tr td div.actions ul li:first-child{
	padding-top: 0;
}
#content.list table tr td div.actions ul li:last-child{
	border-bottom: none;
	padding-bottom: 0;
}
#content.list table tr td div.actions ul li a small.icon{
	font-size: 16px;
	margin-right: 5px;
}
#content.list table tr{
	-moz-transition: all 0.8s ease;
	-webkit-transition: all 0.8s ease;
}
#content.list table tr td{
	padding-top: 20px;
	padding-bottom:20px;
}
#content.list table tr.active{
	color: #fff;
	background: #2095f2;
}
#content.list table tr.active a{
	color: #fff;
}
#content.list table tr.active .action_items a{
	color:#555;
}
#content.list table tr.active .action{
	color: #fff;
}
ul.list li{
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
	padding:2%;	
	margin-bottom: 1%;
}
ul.list li.read{
	background: #F9f9f9;
}
ul.list li h4.date{
	margin-top: 10px;
	color: #999;
	font-style: italic;
	font-size: 13px;
}
ul.grid{
	float: left;
	width:100%;	
	margin-bottom: -2.5%;
}
ul.grid li{
	float: left;
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
	padding:2%;	
}
ul.grid.large li.tal {
    text-align: left;
}

ul.grid.large li span.main.bold {
    font-family: "robotomedium";
}
ul.grid.large li span.main {
    color: #26a69a;
}
ul.grid.large li span.main {
    font-family: "robotolight";
    font-size: 25px;
}
ul.grid.large li b {
    display: block;
    font-size: 17px;
    line-height: 30px;
    margin-top: 10px;
    padding-top: 10px;
    text-align: left;
    border-top: 1px solid #eaeaeb;
}
ul.grid.large li b strong.bold {
    font-family: "robotomedium";
}
ul.grid.large li b strong {
    color: #26a69a;
}
ul.grid.large li b strong {
    line-height: 32px;
}
ul.grid li {
    border-radius: 4px;
    float: left;
    padding: 2%;
}
ul.grid.four li{
	width:19.125%;
	margin-right: 2.5%;
	margin-bottom: 2.5%;
}
ul.grid.four li:nth-child(4n){
	margin-right: 0;
}
ul.grid.repo li {
	background:#fff;
}
ul.grid.three li{
	width:31.66%;
	margin-bottom: 2.5%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ul.grid.two li{
	width: 44.67%;
	margin-bottom: 2.67%;
}
ul.grid.two li:nth-child(2n){
	float: right;
}
ul.grid.three li:nth-child(3n+2){
	margin-left: 2.5%;
	margin-right: 2.5%;
}
ul.grid.three li:nth-child(3n+1){
	clear: both;
}
ul.grid li h2{
	font-size: 16px;
	font-family: 'robotomedium';
	margin-bottom: 10px;
}
ul.grid li h3{
	font-size: 14px;
	font-family: 'robotomedium';
	margin-bottom: 15px;
}
ul.grid li .links{
	border-top: 1px solid #e7e7e7;
	margin-top: 15px;
	padding-top: 15px;
}
ul.grid li .links a{
	margin-right: 15px;
	font-size: 18px;
}
ul.grid li .links a:last-child{
	margin-right: 0;
}
ul.grid.with_thumb li a.thumb{
	float: left;
	width:35%;
	margin-right: 3%;
}
ul.grid.with_thumb li a.thumb img{
	width:100%;
	height:auto;
}
ul.grid.with_thumb li div.content{
	width:62%;
	float: right;
}
ul.grid.large li{
	text-align: center;	
}
ul.grid.large li span.icon{
	font-size: 35px;
	color: #FFC107;
}
ul.grid.large li b{
	display: block;
	text-align: left;
	border-top: 1px solid #eaeaeb;
	margin-top: 10px;
	padding-top: 10px;
	font-size: 18px;
}
ul.grid.large.three li b{
	font-size: 14px;
}
ul.grid.large.three.repo li b{
	font-size: 16px;
}
ul.grid.large li b span{
	color:#FFC107;
	float: right;
}
ul.grid.large li b small.icon {
    border-radius: 50%;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 32px;
    background: #26A69A;

}

ul.grid.large li.pending span.icon{
	color:#FFC107;
}
ul.grid.large li.pending b span{
	color:#FFC107;
}
ul.grid.large li.approved span.icon{
	color:#709B23;
}
ul.grid.large li.approved b span{
	color:#709B23;
} 
ul.grid.large li.rejected span.icon{
	color:#FE5252;
}
ul.grid.large li.rejected b span{
	color:#FE5252;
}  


ul.grid.details li{
	padding:0;
}
#main.home ul.grid.details li{
	margin-bottom: 0;
}
ul.grid.details.four li{
	width:23.125%;
}
ul.grid.details li .main{
	background: #ffbd2c;
	padding:15px;
	color: #fff;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	position: relative;
	height: 180px;
}
ul.grid.details.thumb_enabled li .main{
	height: 210px;
}
ul.grid.details li .main.round_enabled{
	margin-bottom: 20px;
}
ul.grid.details li div.photo{
	position: absolute;
	width:100%;
	height:240px;
	overflow:hidden;
	left:0;
	top:0;	
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}
ul.grid.details li div.photo img{
	width:auto;
	max-width: 100%;
	height:240px;
	position: relative;
	z-index: 1;
	display: block;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}
ul.grid.details li div.photo img.image {
	width: 100%;
}
ul.grid.details li div.photo span.overlay{
	position: absolute;
	left:0;
	right: 0;
	width:100%;
	top:0;
	bottom:0;
	height:100%;
	background: url(../images/tr_t.png);
	z-index: 2;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}
ul.grid.details li span.round{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    bottom: -17px;
    color: #fff;
    height: 40px;
    left: 0;
    line-height: 40px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 40px;
    z-index: 10;
}
ul.grid.details li div.middle{
	position: relative;
	z-index: 2;
}
ul.grid.details li div.middle.staff{
	top: 56px;
}
ul.grid.details li div.top{
	position: relative;
	z-index: 3;
}
ul.grid.details li .main a{
	color:#fff;
}
ul.grid.details li .main a:hover{
	color:#fff !important;
}
ul.grid.details li .main .icon{
	color:#fff;
}
ul.grid.details li.pending .main{
	background: #ffbd2c;
}
ul.grid.details li.approved .main{
	background: #20B2AA;
}
ul.grid.details li.started .main{
	background: #6639B6;
}
ul.grid.details li.completed .main{
	background: #4CAF50;
}
ul.grid.details li.design .main{
	background: #32CD32;
}
ul.grid.details li.rejected .main{
	background: #F34235;
}
ul.grid.details li.cancelled .main{
	background: #FF0000;
}
ul.grid.details li.orange .main{
	background: #d45f09;
}
ul.grid.details li.purple .main{
	background: #B22222;
}
ul.grid.details li.estimatesend .main{
	background: #DC143C;
}
ul.grid.details li.teal .main{
	background: #808000;
}
ul.grid.details li.grayblue .main{
	background: #DB7093;
}
ul.grid.details li.lemon .main{
	background: #8BC34A;
}
ul.grid.details li .top{
	margin-bottom: 30px;	
}
ul.grid.details li .top .menuContainer{
	position: relative;
	width:80%;
}
ul.grid.details li .top a.right{
	width:20%;
	text-align: right;
}
ul.grid.details li .top .menuContainer .menu_icon{
	cursor: pointer;
    display: block;
    height: 30px;
    text-align: center;
    width: 30px;
}
ul.grid.details li .top .menuContainer .items{
	position: absolute;
	width:30px;
	top:30px;
	left:0;
}
ul.grid.details li .top .menuContainer .items a{
	color: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width:30px;
	height: 30px;
	margin-bottom: 10px;
	line-height: 30px;
	text-align: center;
	display: block;
	display: none;
}
ul.grid.details li .top .menuContainer .items a:hover{
	color:#fff !important;
}
ul.grid.details li .top .menuContainer:hover .items a{
	display: block;
}
ul.grid.details li .middle{
	text-align: center;
}
ul.grid.details li .middle h3{
	font-size: 20px;	
}
ul.grid.details.thumb_enabled  .middle h3{
	text-shadow: 2px 2px 2px #444;
}
ul.grid.details li .middle h4{
	font-size: 18px;	
}
ul.grid.details li .middle h4.name_size{
	font-size: 17px;
}
ul.grid.details.thumb_enabled  .middle h4{
	text-shadow: 2px 2px 2px #444;
}
ul.grid.details li .middle h4 a{
	color: #fff;
}
ul.grid.details li.pending .middle h4 a{
	color: #ffe8a2;
}
ul.grid.details li.approved .middle h4 a{
	color: #9dd1f9;
}
ul.grid.details li.started .middle h4 a{
	color: #b096de;
}
ul.grid.details li.completed .middle h4 a{
	color: #a7d9a9;
}
ul.grid.details li.rejected .middle h4 a{
	color: #fab7b2;
}
ul.grid.details li.cancelled .middle h4 a{
	color: #fab7b2;
}
ul.grid.details li .content{
	padding:15px;
	font-size: 13px;
}
ul.grid.details li .content p{
	margin-bottom: 15px;
}
ul.grid.details li .content p span.label{
	float: left;
	width:15%;
}
ul.grid.details li .content p b{
	float: right;
	width:85%;
	color: #8394a9;
}
ul.grid.details li .content p b a{
	color: #8394a9;
}
ul.grid.details li .content p .icon{
	color: #8394a9;
}
ul.grid.details li .status{
	border-top: 1px solid #eaeaeb;
	padding:15px;
	border-bottom: 4px solid #ccc;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;	
	text-align: center;
	color: #666;
}
ul.grid.details li.pending .status{
	border-bottom: 4px solid #ffbd2c;
	color: #ffbd2c;
}
ul.grid.details li.approved .status{
	border-bottom: 4px solid #2095F2;
	color: #2095F2;
}
ul.grid.details li.started .status{
	border-bottom: 4px solid #6639B6;
	color: #6639B6;
}
ul.grid.details li.completed .status{
	border-bottom: 4px solid #4caf50;
	color: #4caf50;
}
ul.grid.details li.rejected .status{
	border-bottom: 4px solid #f34235;
	color: #f34235;
}
ul.grid.details li.cancelled .status{
	border-bottom: 4px solid #f34235;
	color: #f34235;
}
ul.grid.details li .status h6{
	font-size: 14px;
}
ul.grid.normal li span.icon{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	height:50px;
	width:50px;
	font-size: 16px;
	text-align: center;
	line-height: 50px;
	float: left;
	margin-right: 15px;
}
ul.grid.normal li a:hover span.icon{
	color: #fff !important;	
}
ul.grid.normal li b{
	float: left;
	font-size: 13px;
}
ul.grid.normal li a:hover  b{
	color: #555 !important;	
}
ul.grid.normal li b span{
	display: block;
	font-size: 20px;
}
ul.gallery{
	float: left;
	width:100%;	
}
ul.mbm{
	margin-bottom: -2.5%;
}
ul.gallery li{
	float: left;
	margin-right: 2.5%;
    margin-bottom: 2.5%;
    background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
	padding:2%;
}
ul.gallery.three li{
	box-sizing: border-box;
    width: 31.66%;
}
ul.gallery.three li:nth-child(3n){
	margin-right: 0;
}
ul.gallery li img{
	width:100%;
	height:auto;
}
.bg-one, a.bg-one, a.bg-one:hover {
    background-color: #009688;
    color: #fff;
}
.bg-two, a.bg-two, a.bg-two:hover {
    background-color: #ff5252;
    color: #fff;
}
.bg-three, a.bg-three, a.bg-three:hover {
    background-color: #f2b53f;
    color: #fff;
}
.bg-four, a.bg-four, a.bg-four:hover {
    background-color: #c62828;
    color: #fff;
}
.bg-five, a.bg-five, a.bg-five:hover {
    background-color: #666;
    color: #fff;
}
.bg-six, a.bg-six, a.bg-six:hover{
	background-color: #db4437;
	color: #db4437;
}
/*pagination style start here*/
.widget.navigation h4 {
    float: left;
    font-size: 15px;
    margin-top: 6px;
    text-transform: uppercase;
}
.widget .pagination{
	float: right;
}
.widget .pagination a,.widget .pagination span{
	display: inline-block;
	padding:5px 12px 4px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	color: #666;
	border: 1px solid rgba(255,255,255,0.2);
	margin-left: 6px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
}
.widget .pagination span.endless_page_current,.widget .pagination a:hover{
	color: #fff;
	border: 1px solid rgba(255,255,255,0.3);
}
.widget .pagination .prev,.widget .pagination .next{
	color: #aaa;
}
.widget .pagination span.endless_page_current,.widget .pagination a:hover{
	background: #2095f2;
}
.widget .pagination a:hover{
	color: #fff !important;
}
/*pagination style end here*/

/*list page style end here*/

/*popup style start here*/
.tr.popupBg{
	background: rgba(0,0,0,0.8);
	position: fixed;
	left:0;
	top:0;
	bottom:0;
	right:0;
	z-index: 999;
}
.popupBox {
	z-index: 1000;
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	width:300px;
	padding:25px;
	background: #fff;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
}
.popupBox .popupInner{
	min-height: 100px;
}
.popupBox .head{
	color: #444;
	font-size: 19px;
	font-family: 'robotomedium';
	margin-bottom: 12px;
}
.popupBox .content{	
	color: #666;
	position: relative;
}
.popupBox .content label.error {
    bottom: 3px;
    color: #ff1313;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.popupBox .content input {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: block;
    margin: 10px auto;
    width: 70%;
}
.popupBox .buttons{
	margin-top: 20px;
	text-align: right;
}
.popupBox .buttons .link{
	cursor:pointer;
	margin-left: 25px;
}
.popupBox .buttons .link:first-child{
	margin-left: 0;
}
.popupBox span.close {
    color: #fff;
    font-size: 22px;
    position: absolute;
    right: -14px;
    top: -14px;
    cursor: pointer;
}
.popupBox span.loader{
	position: absolute;
	right:0;
	left:0;
	top:0;
	bottom:0;
	height:32px;
	width:32px;
	background: url(../images/loading.gif);
	margin:auto;
}
.popupBox .content ul {
    list-style-type: disc;
    padding-left: 15px;
    text-align: left;
}
.popupBox .buttons .link{
	color: #D7A200;
}
/*popup style end here*/

/*stock item popup */
.item_popup{
	z-index: 1000;
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	width:90%;
	padding:25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
	display: none;
}
.item_popup section.head{
	position: relative;
}
.item_popup section.head .close{
	position: absolute;
	right:10px;
	top:0;
	bottom:0;
	margin:auto 0;
	height:35px;
	line-height: 35px;
	background-color: #db4437;
    color: #fff;
    padding:0 10px;
    cursor:pointer;
}
.item_popup section.content{
	padding:25px 0;
}
.item_popup section.scroll {
	overflow: hidden;
	position: relative;	
}
.item_popup section.short{
	width:20%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #f5f5f5;
	margin-right: 1%;
}
.item_popup section.short ul li{
	border-bottom: 1px solid #e7e7e7;
}
.item_popup section.short ul li:last-child{
	border-bottom: none;
}
.item_popup section.short ul li a{
	padding:10px 15px;
	display: block;
}
.item_popup section.short ul li.active{
	border-bottom: 1px solid #1b93f2;
}
.item_popup section.short ul li.active a{
	background: #2095f2;
	color:#fff;
}
.item_popup section.short ul li.active a:hover{
	color:#fff !important;
}
.item_popup section.large{
	width:58%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}
.item_popup section.large td input{
	width:60px;
}
.item_popup section.large td a.button{
	font-size: 12px;
}
.add_customized_item_button{
	position: absolute;
	left:0;
	right:0;
	bottom:0px;
	height:25px;
	width:150px;
	text-align: center;
	line-height: 25px;
	margin:0 auto;
}
.item_popup section.large section.form{
	padding:20px;
	position: absolute;
	background: #fff;
	border: 5px solid #2095f2;
	bottom:0;
	z-index: 1001;
	margin-bottom: 0;
	display: none;
}
.item_popup section.large section.form form{
	margin-bottom: 15px;
}
.item_popup section.large section.form div.fields div.field{
	float: left;
	width:24%;
	margin-right: 1.33%;
	margin-bottom: 15px;
}
.item_popup section.large section.form div.fields div.field:nth-child(4n){
	margin-right: 0;
}
.item_popup section.large section.form .button.cancel{
	background-color: #db4437;
	margin-left: 10px;
	border: 1px solid #db4437;
}
/*stock item popup */
/* scrollbar style start here*/
.ps-container .ps-scrollbar-x-rail {
	position: absolute;
	bottom: 3px;
	height: 8px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	opacity: 0;
	filter: alpha(opacity=0);
	-o-transition: background-color .2s linear, opacity .2s linear;
	-webkit-transition: background-color .2s linear, opacity .2s linear;
	-moz-transition: background-color .2s linear, opacity .2s linear;
	transition: background-color .2s linear, opacity .2s linear
}
.ps-container:hover .ps-scrollbar-x-rail, .ps-container.hover .ps-scrollbar-x-rail {
	opacity: .6;
	filter: alpha(opacity=60)
}
.ps-container .ps-scrollbar-x-rail:hover, .ps-container .ps-scrollbar-x-rail.hover {
	background-color: #eee;
	opacity: .9;
	filter: alpha(opacity=90)
}
.ps-container .ps-scrollbar-x-rail.in-scrolling {
	opacity: .9;
	filter: alpha(opacity=90)
}
.ps-container .ps-scrollbar-y-rail {
	position: absolute;
	right: 0px;
	width: 5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	opacity: 0;
	filter: alpha(opacity=0);
	-o-transition: background-color .2s linear, opacity .2s linear;
	-webkit-transition: background-color .2s linear, opacity .2s linear;
	-moz-transition: background-color .2s linear, opacity .2s linear;
	transition: background-color .2s linear, opacity .2s linear
}
.ps-container:hover .ps-scrollbar-y-rail, .ps-container.hover .ps-scrollbar-y-rail {
	opacity: .6;
	filter: alpha(opacity=60)
}
.ps-container .ps-scrollbar-y-rail:hover, .ps-container .ps-scrollbar-y-rail.hover {
	background: rgba(255, 255, 255, 0.2);
	opacity: .9;
	filter: alpha(opacity=90)
}
.ps-container .ps-scrollbar-y-rail.in-scrolling {
	opacity: .9;
	filter: alpha(opacity=90)
}
.ps-container .ps-scrollbar-x {
	position: absolute;
	bottom: 0;
	height: 8px;
	background: rgba(255, 255, 255, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-o-transition: background-color .2s linear;
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	transition: background-color .2s linear
}
.ps-container.ie6 .ps-scrollbar-x {
	font-size: 0
}
.ps-container .ps-scrollbar-x-rail:hover .ps-scrollbar-x, .ps-container .ps-scrollbar-x-rail.hover .ps-scrollbar-x {
	background: rgba(255, 255, 255, 0.2);
}
.ps-container .ps-scrollbar-y {
	position: absolute;
	right: 0;
	width: 15px;
	background: #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-o-transition: background-color .2s linear;
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	transition: background-color .2s linear
}
.ps-container.ie .ps-scrollbar-y {
	font-size: 0
}
.ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y, .ps-container .ps-scrollbar-y-rail.hover .ps-scrollbar-y {
	background: rgba(255, 255, 255, 0.2);
}
/* scrollbar style end here*/

/* select box style */

/* The SoD - Please keep this first three lines intact, otherwise all hell will break looooooose */
.sod_select {
	display: block;
	position: relative;
	width: 100%;
	padding: 5px 0;
	border: none;
	border-bottom: 1px solid #dbdbdb;
	height: 22px;
	background: url(../images/select_arrow_default.png) right 15px no-repeat;
	color:#555;
	font-size: 16px;
}

/* Change the border color on hover, focus and when open */
.sod_select:hover, .sod_select.open, .sod_select.focus {
	border-color: #000000;	
}

.sod_select.open {
	color: #919191;
}

/* When the entire SoD is disabled, go crazy! */
.sod_select.disabled {
	border-color: #828282;
	color: #b2b2b2;
	cursor: not-allowed;
}

/* The "label", or whatever we should call it. Keep the first three lines for truncating. */
.sod_select .sod_label {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-right: 15px;
}

.sod_select .sod_prefix {/* Use this if you're using a prefix and want to style it */
}
.sod_select .sod_placeholder {/* Use this if you're using a placeholder and want to style it */
}

/* Options list wrapper */
.sod_select .sod_list_wrapper {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	height: auto;
	width: 100%;
	background: #ececec;
	border-top: none;
	color: #444444;
	font-weight: 300;
	z-index: 1;
}

/* Shows the option list (don't edit) */
.sod_select.open .sod_list_wrapper {
	display: block;
}

/* Don't display the options when  */
.sod_select.disabled.open .sod_list_wrapper {
	display: none;
}

/* When the option list is displayed above the SoD */
.sod_select.above .sod_list_wrapper {
	top: auto;
	bottom: 0;
	border-bottom: none;
}

/* Options list container */
.sod_select .sod_list {
	display: block;
	overflow-y: auto;
	padding: 0;
	margin: 0;
	max-height:250px !important;
}

/* All the options. Keep the first three lines for truncating... */
.sod_select .sod_option {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: relative;
	padding: 10px 10px;
	list-style-type: none;
	font-size: 14px;
}

/* Optgroups */
.sod_select .sod_option.optgroup, .sod_select .sod_option.optgroup.disabled {
	background: inherit;
	color: #939393;
	font-size: 10px;
	font-style: italic;
}

/* Children of an optgroup */
.sod_select .sod_option.groupchild {
	padding-left: 20px;
}

/* Used together with placeholderOption / data-placeholder-option */
.sod_select .sod_option.is-placeholder {
	display: none;
}

/* Disabled option */
.sod_select .sod_option.disabled {
	background: inherit;
	color: #cccccc;
}

/* Hover state for options, also used when a user uses his/hers up/down keys */
.sod_select .sod_option.active {
	background: #f7f7f7;
	color: #333333;
}

/*Make room for the check mark */
.sod_select .sod_option.selected {
	font-weight: 700;
	padding-right: 25px;
}

/* Displays a check mark for the selected option */
.sod_select .sod_option.selected:before {
	content: "";
	position: absolute;
	right: 10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	display: inline-block;
	color: #808080;
	height: 9px;
	width: 10px;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgMTAgOSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAgOSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8Zz4NCgk8cGF0aCBmaWxsPSIjRDlEOUQ4IiBkPSJNNCw2LjdDMy42LDYuMywzLjUsNi4xLDMuMSw1LjdDMi42LDUuMiwyLDQuNiwxLjUsNC4xYy0wLjgtMC44LTIsMC40LTEuMiwxLjJjMC45LDAuOSwxLjksMS45LDIuOCwyLjgNCgkJYzAuNywwLjcsMS4zLDEsMiwwQzYuNyw2LDguMywzLjcsOS44LDEuNUMxMC41LDAuNSw5LTAuMyw4LjMsMC42bDAsMEM2LjcsMi45LDUuNyw0LjQsNCw2LjciLz4NCjwvZz4NCjwvc3ZnPg0K);
}

/* Add a .no_highlight class to you SoD to hide the check mark and don't bold the option */
.sod_select.no_highlight .sod_option.selected {
	font-weight: 300;
}
.sod_select.no_highlight .sod_option.selected:before {
	display: none;
}

.sod_select .sod_option.link {/* If data-link is set on a specific option */
}
.sod_select .sod_option.linkexternal {/* If data-link-external is set on a specific option */
}

/* Hide native select */
.sod_select select {
	display: none !important;
}

/* The native select in touch mode. Keep this first line. Sorry, keep everything. */
.sod_select.touch select {
	-webkit-appearance: menulist-button;
	position: absolute;
	top: 0;
	left: 0;
	display: block !important;
	height: 100%;
	width: 100%;
	opacity: 0;
	z-index: 1;
}
.sod_select .sod_list_wrapper{
	border-top: none;
}
.sod_select.above .sod_list_wrapper{
	border-top: 3px solid #2095f2;
}
.sod_select:hover, .sod_select.open, .sod_select.focus {
	border-color: #2095f2;
	background: url(../images/select_arrow.png) right 15px no-repeat;
}
/* select box style */

/* DatePicker Table */
#ui-datepicker-div{
	z-index: 101 !important;
	border: 1px solid #2095f2;
}
.ui-timepicker-div {
	padding: 10px;
}
.ui-timepicker-div dl{
	text-align: center;
}
.ui-timepicker-div .ui_tpicker_hour_label,.ui-timepicker-div .ui_tpicker_minute_label{
	margin-top: 5px;
	padding-top: 5px;
}
.ui-datepicker-buttonpane{
	padding:10px;
	text-align: center;
	margin-top: 5px;
	padding-top: 5px;
}
.ui-datepicker table {
	width: 100%;
}
.ui-datepicker-header {
	background: #2095f2;
	color: #fff;
	line-height: 30px;
}
.ui-datepicker-title {
	text-align: center;
}
.ui-datepicker-prev, .ui-datepicker-next {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	cursor: pointer;
	background-image: url('../images/arrow.png');
	background-repeat: no-repeat;
	line-height: 600%;
	overflow: hidden;
}
.ui-datepicker-prev {
	float: left;
	background-position: center -30px;
}
.ui-datepicker-next {
	float: right;
	background-position: center 0px;
}
.ui-datepicker thead {
	background-color: #f7f7f7;
	background-image: -moz-linear-gradient(top,  #f7f7f7 0%, #f1f1f1 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#f1f1f1));
	background-image: -webkit-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	background-image: -o-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	background-image: -ms-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	background-image: linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f1f1f1',GradientType=0 );
	border-bottom: 1px solid #bbb;
}
.ui-datepicker th {
	text-transform: uppercase;
	font-size: 6pt;
	padding: 5px 0;
	color: #666666;
	text-shadow: 1px 0px 0px #fff;
	filter: dropshadow(color=#fff, offx=1, offy=0);
	text-align: center;
}
.ui-datepicker tbody td {
	padding: 0;
	border-right: 1px solid #bbb;
}
.ui-datepicker tbody td:last-child {
	border-right: 0px;
}
.ui-datepicker tbody tr {
	border-bottom: 1px solid #bbb;
}
.ui-datepicker tbody tr:last-child {
	border-bottom: 0px;
}
.ui-datepicker td span, .ui-datepicker td a {
	display: inline-block;
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: #777;
}
.ui-datepicker-calendar .ui-state-default {
	background: #f5f5f5;
}
.ui-datepicker-calendar .ui-state-highlight{
	background: #ccc;
}
.ui-datepicker-calendar .ui-state-hover {
	background: #f7f7f7;
}
.ui-datepicker-calendar .ui-state-active {
	background: none repeat scroll 0 0 #2095f2;
	color: #e0e0e0;
	border: 1px solid #55838f;
	position: relative;
	margin: -1px;
}
.ui-datepicker-unselectable .ui-state-default {
	background: #f4f4f4;
	color: #b4b3b3;
}
.ui-datepicker-calendar td:first-child .ui-state-active {
	width: 29px;
	margin-left: 0;
}
.ui-datepicker-calendar td:last-child .ui-state-active {
	width: 29px;
	margin-right: 0;
}
.ui-datepicker-calendar tr:last-child .ui-state-active {
	height: 29px;
	margin-bottom: 0;
}
/* datepicker */


/* multiselect */
.ms-container{
  background: transparent url('../images/switch.png') no-repeat 50% 50%;
  width: 55%;
  float: right;
}

.ms-container:after{
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
  min-height: 0;
  visibility: hidden;
}

.ms-container .ms-selectable, .ms-container .ms-selection{
  background: rgba(255,255,255,0.1);
  color: #fff;
  float: left;
  width: 45%;
}
.ms-container .ms-selection{
  float: right;
}

.ms-container .ms-list{
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  border: 1px solid rgba(255,255,255,0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  height: 100px;
  padding: 0;
  overflow-y: auto;
}

.ms-container .ms-list.ms-focus{
  border-color: rgba(255,255,255, 0.4);
  outline: 0;
  outline: thin dotted \9;
}

.ms-container ul{
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.ms-container .ms-optgroup-container{
  width: 100%;
}

.ms-container .ms-optgroup-label{
  margin: 0;
  padding: 5px 0px 0px 5px;
  cursor: pointer;
  color: #999;
}

.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection{
  border-bottom: 1px solid rgba(255,255,255,0.15);
  padding: 4px 10px;
  color: #fff;
  font-size: 14px;
}

.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover{
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  background-color: #08c;
}

.ms-container .ms-selectable li.disabled,
.ms-container .ms-selection li.disabled{
  background-color: #eee;
  color: #ccc;
  cursor: text;
}
/* multiselect */

/* checkbox and radio buttons */
.cb-checkbox .cb-inner, .cb-checkbox i {
	width: 18px;
	height: 18px;
}
.cb-checkbox.cb-sm i, .cb-checkbox.cb-sm .cb-inner {
	width: 14px;
	height: 14px
}
.cb-checkbox.cb-md i, .cb-checkbox.cb-md .cb-inner {
	width: 24px;
	height: 24px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px
}
.cb-checkbox.cb-lg i, .cb-checkbox.cb-lg .cb-inner {
	width: 30px;
	height: 30px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px
}
.cb-radio .cb-inner {
	width: 18px;
	height: 18px
}
.cb-radio.cb-sm .cb-inner {
	width: 14px;
	height: 14px
}
.cb-radio.cb-md .cb-inner {
	width: 24px;
	height: 24px
}
.cb-radio.cb-lg .cb-inner {
	width: 30px;
	height: 30px
}
.cb-checkbox, .cb-radio {
	padding: 3px 0;
	cursor: pointer;
	overflow: hidden;
	font-size: 13px;
	font-weight: normal;
	display: inline-block;
	line-height: 18px
}
.cb-checkbox.disabled, .cb-checkbox.disabled *, .cb-radio.disabled, .cb-radio.disabled * {
	cursor: default
}
.cb-checkbox input[type="checkbox"], .cb-radio input[type="radio"] {
	display: none
}
.cb-checkbox.disabled, .cb-checkbox.disabled *, .cb-radio.disabled, .cb-radio.disabled * {
	cursor: default
}
.cb-checkbox.disabled {
	color: #ddd
}
.cb-checkbox.disabled .cb-inner {
	color: #ddd
}
.cb-checkbox.disabled:hover .cb-inner {
	border-color: #ddd
}
.cb-checkbox.disabled.checked .cb-inner {
	background-color: #ddd;
}
.cb-radio.disabled {
	color: #ddd
}
.cb-radio.disabled .cb-inner {
	
}
.cb-radio.disabled i {
	background-color: transparent
}
.cb-radio.disabled.checked .cb-inner {
	
}
.cb-radio.disabled.checked .cb-inner i {
	
}
.cb-radio.disabled:hover .cb-inner {
	
}
.cb-checkbox .cb-inner {
	float: left;
	overflow: hidden;
	margin: 0 5px 0 0;
	position: relative;
	background: #f5f5f5;
	display: inline-block;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	border: 1px solid #E7E7E7;
}
.cb-checkbox i {
	top: 1px;
	left: 2px;
	display: block;
	position: absolute
}
.cb-checkbox i:before, .cb-checkbox i:after {
	height: 0;
	width: 2px;
	content: "";
	display: block;
	position: absolute;
	background-color: #fff;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease
}
.cb-checkbox i:before {
	top: 0;
	left: 0;
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg)
}
.cb-checkbox i:after {
	left: 7px;
	bottom: 5px;
	-moz-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg)
}
.cb-radio .cb-inner {
	float: left;
	overflow: hidden;
	margin: 0 5px 0 0;
	position: relative;
	background: #f5f5f5;
	display: inline-block;
	border: 1px solid #ac97c8;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
	transition: all 0.1s ease
}
.cb-radio i {
	top: 50%;
	left: 50%;
	width: 6px;
	height: 6px;
	margin-top: -3px;
	margin-left: -3px;
	position: absolute;
	background-color: transparent;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	-moz-transform: scale(0.05, 5);
	-ms-transform: scale(0.05, 5);
	-webkit-transform: scale(0.05, 5);
	transform: scale(0.05, 5);
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease
}
.cb-checkbox.cb-sm, .cb-radio.cb-sm {
	line-height: 14px
}
.cb-checkbox.cb-md, .cb-radio.cb-md {
	line-height: 24px
}
.cb-checkbox.cb-lg, .cb-radio.cb-lg {
	line-height: 30px
}
.cb-checkbox.cb-sm i:before {
	top: 4px;
	left: 1px
}
.cb-checkbox.cb-sm i:after {
	left: 5px
}
.cb-checkbox.cb-md i:before {
	top: 10px;
	left: 5px
}
.cb-checkbox.cb-md i:after {
	bottom: 6px;
	left: 11px
}
.cb-checkbox.checked .cb-inner {
	background: #2095f2;
	border: 1px solid #fff;
}
.cb-checkbox.checked.cb-sm i:before {
	top: 4px;
	left: 1px
}
.cb-checkbox.checked.cb-sm i:after {
	height: 9px
}
.cb-checkbox.checked.cb-md i:before {
	top: 10px;
	left: 4px;
	height: 8px
}
.cb-checkbox.checked.cb-md i:after {
	bottom: 6px;
	left: 11px;
	height: 16px
}
.cb-checkbox.checked.cb-lg i:before {
	top: 11px;
	left: 6px;
	height: 12px
}
.cb-checkbox.checked.cb-lg i:after {
	left: 14px;
	bottom: 7px;
	height: 20px
}
.cb-checkbox.checked i:before {
	top: 6px;
	left: 2px;
	height: 6px
}
.cb-checkbox.checked i:after {
	height: 12px
}
.cb-radio.checked .cb-inner {
	background: #f5f5f5;
}
.cb-radio.checked i {
	-moz-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
	background-color: #FFFFFF;
}
.cb-checkbox:hover .cb-inner, .cb-radio:hover .cb-inner {
	border-color: #fff;
}
.is-hidden {
	display: none !important;
	visibility: hidden !important
}
.cb-radio.checked .cb-inner{
	border: 1px solid #2095f2;
}
.cb-radio.checked i{
	background: #2095f2;
}
/* checkbox and radio buttons */

.red {
	color : red;
}
.green {
	color: green;
}
.fr-box  div a[href="https://froala.com/wysiwyg-editor"]{
	display: none !important;
}
.fr-toolbar.fr-top {
	/*height: 100px !important;*/
	position: relative !important;
}
.fr-sticky-on+.fr-sticky-dummy {
	height: 0 !important;
}
.loader_modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('../images/loader_file.gif')
                50% 50%
                no-repeat;
}
/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}
/* Anytime the body has the loading class, our
   loader_modal element will be visible */
body.loading .loader_modal {
    display: block;
}

.yourlabs-autocomplete .choice, .yourlabs-autocomplete [data-value], .yourlabs-autocomplete em {
	white-space: normal !important;
}

/*error template*/
.error_container {
	text-align: center;
	padding: 30px;
	width: 50%;
	margin: 12% auto 0;
	background: #FFFFFF;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
}
ol.simple_list {
	list-style: decimal;
	padding-left: 20px;
}
ol.simple_list li {
	margin-bottom: 5px;
}
.ui-autocomplete{
	background-color: #555;
}
.year{
	margin-right: 10%;
}
.styled-select {
	background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
	height: 29px;
	overflow: hidden;
	width: 240px;
 }
 
 .styled-select select {
	background: transparent;
	border: none;
	font-size: 14px;
	height: 29px;
	padding: 5px; /* If you add too much padding here, the options won't show in IE */
	width: 268px;
 }
 
 .styled-select.slate {
	background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
	height: 34px;
	width: 240px;
 }
 
 .styled-select.slate select {
	border: 1px solid #ccc;
	font-size: 16px;
	height: 34px;
	width: 268px;
 }
 
 /* -------------------- Rounded Corners */
 .rounded {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
 }
 
 .semi-square {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
 }
 
 /* -------------------- Colors: Background */
 .slate   { background-color: #ddd; }
 .green   { background-color: #779126; }
 .blue    { background-color: #3b8ec2; }
 .yellow  { background-color: #eec111; }
 .black   { background-color: #000; }
 
 /* -------------------- Colors: Text */
 .slate select   { color: #000; }
 .green select   { color: #fff; }
 .blue select    { color: #fff; }
 .yellow select  { color: #000; }
 .black select   { color: #fff; }
 
 
 /* -------------------- Select Box Styles: danielneumann.com Method */
 /* -------------------- Source: http://danielneumann.com/blog/how-to-style-dropdown-with-css-only/ */
 #mainselection select {
	border: 0;
	color: #EEE;
	background: transparent;
	font-size: 20px;
	font-weight: bold;
	padding: 2px 10px;
	width: 378px;
	*width: 350px;
	*background: #58B14C;
	-webkit-appearance: none;
 }
 
 #mainselection {
	margin-right: 4%;
	margin-left: 4%;
	overflow:hidden;
	display: inline-block;
	width:80px;
	-moz-border-radius: 9px 9px 9px 9px;
	-webkit-border-radius: 9px 9px 9px 9px;
	border-radius: 9px 9px 9px 9px;
	box-shadow: 1px 1px 11px #50504d;
	background: #db4437;
 
 
 /* -------------------- Select Box Styles: stackoverflow.com Method */
 /* -------------------- Source: http://stackoverflow.com/a/5809186 */
 
